#coctails-container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/b9/4d/4f/b94d4f336d6cdbbc9332bd15027fd3bc.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#coctail-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 15px;
  width: 15vw;
  height: fit-content;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.097);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  cursor: pointer;
  box-shadow: 5px 23px 31px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 23px 31px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 23px 31px rgba(0, 0, 0, 0.5);
  border: 10px solid transparent;
  transition: all 0.5s;
  text-align: center;
  color: white;
  animation: mount 1 1s;
}

#coctail-card-img {
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#coctail-card:hover {
  position: relative;
  z-index: 2;
  box-shadow: none;
  border: 10px double rgb(0 57 118);
}

@keyframes mount {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cocatail-name {
  position: absolute;
  top: 0;
}
