@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
}

#app-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.hdqwalls.com/wallpapers/drink-ice-wine-lf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.coctails {
  position: relative;
  bottom: 10vh;
}

.ingredients {
  position: absolute;
  top: 50vh;
}

.bubbles {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 10vh;
}

.bubbles img {
  opacity: 0;
  width: 50px;
  animation: bubble 17s linear infinite;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 1s;
  width: 25px;
}

.bubbles img:nth-child(2) {
  animation-delay: 8s;
  width: 30px;
}

.bubbles img:nth-child(3) {
  animation-delay: 3s;
}

.bubbles img:nth-child(4) {
  animation-delay: 6s;
  width: 70px;
}

.bubbles img:nth-child(5) {
  animation-delay: 1s;
  width: 20px;
}

.bubbles img:nth-child(6) {
  animation-delay: 7s;
}

.bubbles img:nth-child(7) {
  animation-delay: 6s;
  width: 100px;
}

.bubbles img:nth-child(8) {
  animation-delay: 1s;
  width: 80px;
}

.bubbles img:nth-child(9) {
  animation-delay: 8s;
  width: 40px;
}

.bubbles img:nth-child(10) {
  animation-delay: 3s;
}